footer {
  background-color: #1462a4;
}

.container-custom {
  background-color: #1a202c;
}

body {
  background-color: hsl(0, 0%, 83%) !important;
}

.banner {
  width: 100%;
  object-fit: cover;
}

.container {
  color: white;
}

.contain1 {
  color: white;
  align-items: center;
  font-family: Helvetica;
}

.contain2 {
  color: black;
  background-color: hsl(0, 0%, 100%);
  padding-left: 25px;
  padding-right: 25px;
  font-family: Helvetica;
}

.containText {
  padding-left: 28px;
  padding-right: 28px;
  font-family: Helvetica;
}





a:link {
  color: blue;
}

a:hover {
  text-decoration: underline;
}

.navbar li {
  padding-right: 17px;
}

.navbar-custom {
  background-color: #1462a4;
}

.nav-text {
  color: white;
}

.main-app {
  text-align: center;
  margin: 20px;
}

.alignleft {
  float: left;
}

.alignright {
  float: right;
}

img.rounded-corners {
  border-radius: 20px;
}